function Math.init 0
push constant 0
return
function Math.abs 0
push argument 0
return
function Math.multiply 0
push argument 0
return
function Math.divide 0
push argument 0
return
function Math.sqrt 0
push argument 0
return
function Math.max 0
push argument 0
return
function Math.min 0
push argument 0
return
