function SnakePen.setSize 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 131
pop static 6
push constant 132
pop static 7
push constant 133
pop static 8
push constant 130
pop static 9
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
return
function SnakePen.nextXPosition 0
push argument 0
pop pointer 0
push argument 2
push static 7
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push this 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
return
goto IF_END1
label IF_FALSE1
push argument 1
push constant 1
add
return
label IF_END1
goto IF_END0
label IF_FALSE0
label IF_END0
push argument 2
push static 9
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push this 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
return
goto IF_END3
label IF_FALSE3
push argument 1
push constant 1
sub
return
label IF_END3
goto IF_END2
label IF_FALSE2
label IF_END2
push argument 1
return
function SnakePen.nextYPosition 0
push argument 0
pop pointer 0
push argument 2
push static 8
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
push this 3
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 1
return
goto IF_END5
label IF_FALSE5
push argument 1
push constant 1
add
return
label IF_END5
goto IF_END4
label IF_FALSE4
label IF_END4
push argument 2
push static 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push argument 1
push this 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 3
return
goto IF_END7
label IF_FALSE7
push argument 1
push constant 1
sub
return
label IF_END7
goto IF_END6
label IF_FALSE6
label IF_END6
push argument 1
return
function SnakePen.getYMid 0
push argument 0
pop pointer 0
push this 3
push constant 2
call Math.divide 2
return
function SnakePen.getXMax 0
push argument 0
pop pointer 0
push this 2
push this 0
call Math.max 2
return
function SnakePen.directionMin 2
push static 7
push static 9
call Math.min 2
pop local 0
push static 6
push static 8
call Math.min 2
pop local 1
push local 0
push local 1
call Math.min 2
return
function SnakePen.directionMax 0
push static 8
return
function SnakePen.initialDirection 0
push static 7
return
