function Main.main 3
push constant 0
push constant 0
push constant 511
push constant 255
call SnakePen.setSize 4
pop local 1
push constant 9
call String.new 1
push constant 72
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 63
call String.appendChar 2
call Keyboard.readInt 1
pop local 2
call Screen.clearScreen 0
pop temp 0
push local 2
push constant 10
push local 1
push constant 0
call Snake.new 4
pop local 0
push local 0
call Snake.run 1
pop temp 0
push constant 0
return
